<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='script/action.js')}}"></script>
</head>
<body>
    <div style="display: flex; flex-direction:column; align-items: center;">
        <h1>Movie Recommendation System</h1>
        <div class="search">
            <svg x="0px" y="0px" viewBox="0 0 24 24" width="20px" height="20px">
                <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                    <line fill="none" stroke-miterlimit="10" x1="22" y1="22" x2="16.4" y2="16.4"/>
                    <circle fill="none" stroke="currentColor" stroke-miterlimit="10" cx="10" cy="10" r="9"/>
                </g>
            </svg>
            <div>
                <input type="text" placeholder="Search for something...">
            </div>
        </div>
    </div>
   
 
   </p>
    <!-- <script src="C:\Users\Ap\Desktop\Java\WebDev\Flask App_Import_Values\static\js\action.js"></script> -->
    
    <!-- dribbble -->
    <!-- <script type="text/javascript" src="/static/action.js"></script> -->
    <a class="dribbble" href="https://dribbble.com/shots/4827926-Search-input-animation" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png" alt=""></a>
</body>
</html>
